{% load registry_extras %}
{% if is_paginated %}
  <nav class="pagination" aria-label="التنقل بين الصفحات">
    {% if page_obj.has_previous %}
      <a href="{% querystring request page=page_obj.previous_page_number %}">السابق</a>
    {% endif %}
    {% for page_number in paginator.page_range %}
      {% if page_number == page_obj.number %}
        <span class="is-current">{{ page_number }}</span>
      {% elif page_number >= page_obj.number|add:'-2' and page_number <= page_obj.number|add:'2' %}
        <a href="{% querystring request page=page_number %}">{{ page_number }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="{% querystring request page=page_obj.next_page_number %}">التالي</a>
    {% endif %}
  </nav>
{% endif %}
